 <tr>
    <td>
      <%= banner.id %>
    </td>
    <td>
      <%= banner.start_date %>
    </td>
    <td>
      <%= banner.end_date %>
    </td>
    <td>
      <%= banner.image %>
    </td>
    <td>
      <%= banner.user.last_name %>
    </td>
  </tr>