 <tr>
    <td>
      <%= banner.id %>
    </td>
    <td>
      <%= banner.start_date %>
    </td>
    <td>
      <%= banner.end_date %>
    </td>
    <td>
      <%= banner.image %>
    </td>
    <td>
      <%= banner.user.full_name %>
    </td>
    <td>
      <%= link_to 'Edit', edit_banner_path(banner), id: "edit_#{banner.id}" %>
    </td>
  </tr>