<div class="form-group">
    <%= f.radio_button :status, 'submitted' %>
    <%= f.label :status, 'Submitted' %>

    <%= f.radio_button :status, 'assigned' %>
    <%= f.label :status, 'Assigned' %>

    <%= f.radio_button :status, 'completed' %>
    <%= f.label :status, 'Completed' %>

    <%= f.radio_button :status, 'rejected' %>
    <%= f.label :status, 'Rejected' %>

    <%= f.radio_button :status, 'approved' %>
    <%= f.label :status, 'Approved' %>
</div>